@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

#root {
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-family: 'Kalam', cursive;
}

.filter_white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.loader {
  width: 45px;
  height: 45px;
  border: 5px solid #262620;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}