@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-family: 'Kalam', cursive;
}

.filter_white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}